<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/global.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="../css/pedido-actual.css"> -->

        <title>Consinmed</title>
    </head>
    <body>
        
        <div id="Navbar"></div>


        <!-- VUEJS: -->   
        <div id="pedidoGuardadoVue">
            
            <h3 class="h-marca">Pedido ID: {{pedido.id}}</h3>
            <div class="list-group">
                <div class="list-group-item">
                    <small>Fecha Generado</small> 
                    &nbsp; {{pedido.fecha_generado}}
                </div>
                <div class="list-group-item">
                    <small>Cliente</small> 
                    &nbsp; {{cliente.razon_social}}
                </div>
                <div class="list-group-item">
                    <small>Nro Orden Cliente</small> 
                    &nbsp; {{pedido.n_orden_cliente}}
                </div>
                <div class="list-group-item">
                    <small>Status</small>&nbsp;
                    <span class="badge" v-bind:class="pedido.status=='enviado'?'badge-success':'badge-danger' ">
                        {{pedido.status}}
                    </span>
                </div>

                <div class="list-group-item">
                    <small>Cond. Pago</small> 
                    &nbsp; {{pedido.cond_pago}}
                </div>
                <div class="list-group-item">
                    <small>Despacho</small> 
                    &nbsp; {{pedido.despacho}}
                </div>
                <div v-if="pedido.despacho=='Otro Transporte'" class="list-group-item">
                    <small>Transporte</small> 
                    &nbsp; {{pedido.otro_transporte}}
                </div>
                <div class="list-group-item">
                    <small>Observaciones</small> 
                    &nbsp; {{pedido.observaciones}}
                </div>
            </div>

            <br>

            <h5>Productos</h5>
            {{familiasProductos}}
            <ul>

                <li v-for="familiaProductos in familiasProductos">
                    Familia: {{familiaProductos.id}} {{familiaProductos.nombre}} <br>
                    Descuento: {{familiaProductos.descuentoPC}}

                    <ul>
                        <li v-for="producto in familiaProductos.productos">
                            {{ producto.nombre }}
                            , cantidad {{ producto.cantidad }}
                            , precio cotizado: {{ producto.precio_bulto }}
                        </li>
                    </ul>
                </li>
                
            </ul>
    
            <br>
            
            <table class="table table-bordered ">
                <tr>
                    <th>
                      <p class="text-left">Total Bruto</p>
                    </th>
                    <td>
                      <p class="text-right">{{pedido.total_bruto}}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                      <p class="text-left">Total Descuentos Parciales</p>
                    </th>
                    <td>
                      <p class="text-right">totales.totalDescuentosParciales</p>
                    </td>
                </tr>
                <tr>
                    <th>
                      <p class="text-left">Base Imponible</p>
                    </th>
                    <td>
                      <p class="text-right">{{pedido.base_imponible}}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                      <p class="text-left">IVA (12%)</p>
                    </th>
                    <td>
                      <p class="text-right">{{pedido.iva}}</p>
                    </td>
                </tr>
                <tr>
                    <th>
                      <p class="text-left">Total Operación</p>
                    </th>
                    <td>
                      <p class="text-right">{{ parseFloat(pedido.base_imponible) + parseFloat(pedido.iva) }}</p>
                    </td>
                </tr>
            </table>

            <p v-if="pedido.status=='no_enviado'" style="text-align: center;">
                <button 
                    v-on:click="enviarPedido()"
                    class="btn btn-primary btn-lg"><i class="fa fa-send fa-fw"></i> Enviar Pedido</button>
            </p>
  
        </div>
        <!-- fin VUEJS -->

   
        <script src="cordova.js"></script>
        <script src="js/libs/lodash.js"></script>
        <script src="js/libs/vue.js"></script>
        <script src="js/data-test.js"></script>
        <script src="js/global.js"></script>
        <script src="js/pedido-guardado.js"></script>

        
    </body>
</html>