<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

        <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/global.css">


        <title>Consinmed</title>
    </head>
    <body>
        
        <div id="Navbar"></div>


        <!-- VUEJS: -->   
        <div id="pedido-actual">
            
            <h3 class="h-marca">Pedido Marca: {{marca.nombre}}</h3>
            
            <!-- usando subcomponetes (ver limitacione de html en guia) -->
            <!-- <catalogo-familia 
                v-for="familia in familias" 
                v-bind:familia="familia"></catalogo-familia> -->

            <!-- Sin subcomponentes -->
            <div v-for="familia in familias" >
                <h4 class="h-familia">
                  {{familia.nombre}}
                  <small v-if="familia.descuentoPC!='0'"> 
                      <br>Descuento: {{familia.descuentoPC}} %
                  </small>    
                </h4>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Cod</th>
                            <th>Nombre/Descripcón</th>
                            <th>Caj x Bulto</th>
                            <th>Unid x Caja</th>
                            <th>Precio Bulto</th>
                            <th width="80px">Cant</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="producto in familia.productos">
                            <td>{{producto.codigo}}</td>
                            <td>{{producto.nombre}}</td>
                            <td>{{producto.cajas_x_bulto}}</td>
                            <td>{{producto.unid_x_caja}}</td>
                            <td>{{producto.precio_bulto}}</td>
                            <td>{{producto.cantidad}}</td>
                            <td>{{producto.total}}</td>
                        </tr>
                    </tbody>
                </table>

                Total Bruto {{familia.nombre}}: {{familia.total}}
                  
                <hr>                      
            </div> 

            <table class="table table-bordered">
                <tr>
                    <th>Total Bruto: </th>
                    <td>{{totales.totalBrutoPedido}}</td>
                </tr>
                <tr>
                    <th>Descuento:</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Base Imponible</th>
                    <td></td>
                </tr>
                <tr>
                    <th>IVA</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Total a pagar</th>
                    <td></td>
                </tr>
            </table>

            <div class="container">
                <div  class="form-group row" >
                   <label for="descuento" class="col-4 col-form-label">Cliente</label>
                   <select name="descuento" class="col-8 form-control">
                       <option value="--">--</option>
                       <option value="#">Tambotorca</option>
                       <option value="#">Litani Import</option>
                       <option value="#">Hierro San Felix</option>
                   </select>            
                </div>
            </div>


            <div class="container">
                <div  class="form-group row" >
                   <label for="descuento" class="col-4 col-form-label">Condiciones de Pago</label>
                   <select name="descuento" class="col-8 form-control">
                       <option value="--">--</option>
                       <option value="#">Prepagado</option>
                       <option value="#">Contado</option>
                       <option value="#">Crédito 5 dias</option>
                       <option value="#">Crédito 7 dias</option>
                       <option value="#">Crédito 15 dias</option>
                       <option value="#">Crédito 20 dias</option>
                   </select>            
                </div>
            </div>


            <div class="container">
                <div  class="form-group row" >
                   <label for="descuento" class="col-4 col-form-label">Despacho</label>
                   <select name="descuento" class="col-8 form-control">
                       <option value="--">--</option>
                       <option value="#">Consinmed</option>
                       <option value="#">Cliente</option>
                       <option value="#">Vendedor</option>
                       <option value="#">Otro Transporte</option>
                   </select>            
                </div>
            </div>

            <div class="container">
                <div  class="form-group" >
                   <label for="descuento" class="">Observaciones</label><br>
                   <textarea name="" id="" cols="30" rows="10"></textarea>         
                </div>
            </div>


            <p style="text-align: center;">
                <button 
                    v-on:click="volver()"
                    class="btn btn-primary btn-lg"><i class="fa fa-arrow-left fa-fw"></i> Volver </button>
                <button 
                    v-on:click="guardarPedido()"
                    class="btn btn-primary btn-lg"><i class="fa fa-save fa-fw"></i> Guardar Pedido</button>
            </p>
  
        </div>
        <!-- fin VUEJS -->

   
        <script src="cordova.js"></script>
        <script src="js/libs/lodash.js"></script>
        <script src="js/libs/vue.js"></script>
        <script src="js/data-test.js"></script>
        <script src="js/global.js"></script>
        <script src="js/pedido-actual.js"></script>

        
    </body>
</html>